<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="|Question-${question.subject}|"></title>
</head>
<body>
	<div layout:fragment="content" class="container m-3">
		<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
		<div class="mb-2">
			<span th:if="${question.author!=null}"
				th:text="${question.author.username}"></span>
		</div>
		<div>
			<p th:text="${question.content}"></p>
		</div>
		<h5 class="border-bottom my-3 py-2"
			th:text="|${#lists.size(question.answers)}개의 답변이 있습니다.|"></h5>
		<ul>
			<li th:each="answer: ${question.answers}">
				<div>
					<span th:text="${answer.content}"></span> <span
						th:if="${answer.author!=null}"
						th:text="| - ${answer.author.username}|"> </span>
				</div>
			</li>
		</ul>
		<form th:object="${answerForm}"
			th:action="@{|/answer/create/${question.id}|}" method="post">
			<div th:replace="~{form_errors::formErrorsFragment}"></div>
			<textarea class="form-control" th:field="*{content}"></textarea>
			<input class="btn btn-primary my-2" type="submit" value="답변 등록">
		</form>
	</div>
</body>
</html>